body>span, body>h3 {
    float: left;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

span {
    color: #6fb8d9;
    >b {
        /*color: #d8d1c7;*/
    }
}

@header-height: 50px;
.header {
    height: @header-height;
    font-size: 30px;
    color: #3b5372;
    >i.fa-angle-right {
        text-align: right;
    }
    >i.fa-angle-left {
        text-align: left;
    }
    span {
        width: auto;
        .border-box;
        text-align: center;
        color: inherit;
    }
}

.vertical-centre (@height) {
    height: @height;
    display: inline-block;
    vertical-align: middle;
}

.border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@media (min-width: 725px) {
    .calendar {
        margin-left: 100px;
        width: 65%;
    }
}

@media (max-width: 724px) {
    .calendar {
        margin-left: 0px;
        width: 100%;
    }
}

@border-colour: #d8d1c7;
.calendar {
    float: left;
    display: block;
    background: white;
    font-family: Applegothic;
    border: solid 4px @border-colour;
    margin-bottom: 40px;
    border-radius: 8px;
    border-width: #18880d 3px;
    border-color: #6fb8d9;
    @spacing: 5px;
    @icon-width: 20px;
    div.week {
        float: left;
        width: 100%;
        border-top: solid 1px @border-colour;
        span.day {
            float: left;
            width: 100%/7;
            .border-box;
            border-left: solid 2px @border-colour;
            font-size: 17px;
            font-family: serif;
            text-align: center;
            .vertical-centre(70px);
            background: white;
            cursor: pointer;
            &.different-month {
                color: white;
            }
        }
    }
}
