<div class="header">
    <i class="fa fa-angle-left" ng-click="previous()"><b></i>
    <span>{{month.format("MMMM, YYYY")}}</span>
    <i class="fa fa-angle-right" ng-click="next()"></i>
</div>


<div class="calendar">
  <div class="week names" style="height:25px;">
      <span class="day">Sun</span>
      <span class="day">Mon</span>
      <span class="day">Tue</span>
      <span class="day">Wed</span>
      <span class="day">Thu</span>
      <span class="day">Fri</span>
      <span class="day">Sat</span>
  </div>
<div class="week" ng-repeat="week in weeks">
      <!-- If -->
        <span class="day" ng-repeat="day in week.days" ng-if="day.unmarked==='-'" >
        <span>{{day.number}} <br/>
        <label  ng-style="{color:(day.unmarked==='-'?'#18880d':'#E35656')}">{{day.unmarked}}/{{day.totalEmployee}}</label>
        </span>
        </span>
<!-- else -->
        <span class="day" ng-repeat="day in week.days" ng-if="day.unmarked!=='-'" ng-click="clickDay(day.date)">
        <span>{{day.number}} <br/>
        <label  ng-style="{color:(day.unmarked==='-'?'#18880d':'#E35656')}">{{day.unmarked}}/{{day.totalEmployee}}</label>
        </span>
        </span>
        <span><a ui-sref="home.calandar"></a></span><br>
  </div>
</div>
<div ui-view></div>
