<div class="header">
    <i class="fa fa-angle-left" ng-click="previous()"><b></i>
    <span>{{month.format("MMMM, YYYY")}}</span>
    <i class="fa fa-angle-right" ng-click="next()"></i>
</div>

<div class="calendar">


    <div class="week" ng-repeat="week in weeks">
        <span class="day" ng-repeat="day in week.days" ng-click="clickDay(day.date)">
      <span>{{day.number}} <br/>
      <label  ng-style="{color:(day.unmarked==='-'?'#18880d':'#E35656')}">{{day.unmarked}}/{{day.totalEmployee}}</label>
        </span>
        </span>

    </div>
</div>
<div ui-view></div>
