<div class="header">
    <i class="fa fa-angle-left" ng-click="previous()"></i>
    <span>{{month.format("MMMM, YYYY")}}</span>
    <i class="fa fa-angle-right" ng-click="next()"></i>
</div>

<div class="calendar">
    <div class="week" ng-repeat="week in weeks">
        <span class="day"  ng-repeat="day in week.days" ng-click="clickDay(day)"></span>

      </span><span>{{day.number}}</span><br>
          <label  style="color:green">{{day.unmarked}}/{{day.totalEmployee}}</label>
        </span>

</div>
</div>
<div ui-view></div>
